* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
}
/* ================= */
/* NavBar */

.head {
 background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
}


.navbar {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #1f2937;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 4px;
}

.navbar a:hover {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }
}

/* ================================ */
/* Home */
.home {
   background: radial-gradient(circle at top left,  #0f172a);
  padding: 80px 20px;
  color: #e5e7eb;
}

.home-container {
  max-width: 1200px;
  /* margin: 0 auto; */
  margin-left: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.home-text {
  max-width: 600px;
}

.home-tag {
  font-size: 13px;
  letter-spacing: 2px;
  color: #3b82f6;
  font-weight: 600;
}

.home-text h1 {
  font-size: 48px;
  margin: 16px 0;
  color: #ffffff;
}

.home-text h1 span {
  color: #3b82f6;
}

.home-text h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #cbd5f5;
}

.home-text p {
  font-size: 15px;
  line-height: 1.8;
  color: #cbd5e1;
  margin-bottom: 24px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.home-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.btn {
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.btn.primary {
  background-color: #3b82f6;
  color: #020617;
}

.btn.secondary {
  border: 1px solid #3b82f6;
  color: #ffffff;
}

.image img {
 width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 40px;
  border: 4px solid #f6e444;
}

@media (max-width: 900px) {
  .home-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .home-text h1 {
    font-size: 36px;
  }

  .home-buttons {
    justify-content: center;
  }
}

/* ====================================== */
/* Personal Details */
#Personal_Details {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px 25px;
}

.section {
  background-color: #ffffff;
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.section-header{
  font-size: 18px;
  font-weight: 600;
  color: #111827;
  margin-top: 30px;
  margin-left: 150px;
  margin-bottom: 16px;
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 8px;
}

#Personal_Details p {
   display: grid;
  grid-template-columns: 170px 1fr;
  align-items: start;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 18px;
}

#Personal_Details strong {
  color: #111827;
  font-weight: 600;
}


